<p>
  <strong>Nome:</strong>
  <%= @task.title %>
</p>
<p>
  <strong>Data:</strong>
  <%= @task.deadline %>
</p>
<p>
  <strong>Categoria:</strong>
  <%= @task.category %>
</p>
<%= link_to "Voltar para a lista", tasks_path %>
