<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= link_to "Excluir conta", @user, method: :delete, data: { confirm: 'Tem certeza que deseja excluir a sua conta?' } %>
<%= link_to "Voltar para a lista", users_path %>