<h1> Página inicial</h1>
<%= @board= Board.new %>
<%= form_with scope: :board, url: board_path, local: true do |form| %>
  <p>
    <%= form.text_field :name %>
    <%= form.submit "Criar quadro" %>
  </p>
<% end %>