<p>
  <strong>Nome:</strong>
  <%= @board.name %>
  <% @board.task.each do |task| %>
  <p>
    <strong>Nome:</strong>
    <%= task.title %>
  </p>
  <p>
    <strong>Data:</strong>
    <%= task.deadline %>
  </p>
<% end %>
</p>
<%= link_to "Voltar para a lista", boards_path %>
