* {
    font-family: normal;
    color: #200030;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    color: inherit;
}

div {
    display: block;
}

body {
    margin: 0px;
}

#nocss {
    display: none;
}

#full-container {
    background:
        linear-gradient(90deg, #ddd 28px, transparent 1%) center, linear-gradient(#ddd 28px, transparent 1%) center, #bad;
    background-size: 30px 30px;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

#menu {
    align-items: center;
    position: relative;
    width: 300px;
    height: 100%;
    background-color: #8010c0;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 5px 0px 5px #20003040;
    z-index: 1;
}

#menu h1 {
    color: #e0d0ff;
    font-size: 15px;
    text-align: center;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 10px;
}

#menu .logo {
    width: 100px;
    position: relative;
    padding-left: 33%;
}

.menu-header {
}

.board-wrapper {
    position: relative;
    flex-grow: 1;
    z-index: 1;
}

.board {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
}

.list-wrapper {
    display: inline-block;
    width: 272px;
    min-width: 272px;
    height: 100%;
    margin: 7px;
    vertical-align: top;
}

.list {
    background-color: #eee;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px #00000020;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    max-height: calc(100% - 7px);
    overflow: hidden;
    position: relative;
    padding: 0px;
    white-space: normal;
}

.list-title {
    border-radius: 7px 7px 0px 0px;
    box-shadow: 0px 5px 5px 0px #00000020;
    color: #fffffff0;
    display: inline-block;
    font-family: sbold;
    font-size: larger;
    height: auto;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    width: 100%;
}

.list-title.todo {
    background-color: #d02040;
}

.list-title.done {
    background-color: #18a860;
}

.list-title.other {
    background-color: #3088e0;
}

.list-content {
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 0px;
    padding: 10px;
    padding-right: 3px;
    vertical-align: top;
}

.list-content:first-child {
    margin-top: 30px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #00000020;
    box-sizing: border-box;
    margin-top: 10px;
    max-height: max-content;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card-header
{
    background: #e8e8e8;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    white-space: nowrap;
}

.card-description
{
    margin: 0px;
    outline: none;
    padding: 10px;
}

.task:hover {
    box-shadow: 0px 0px 10px 0px #00000060;
}

.add-list {
    background-color: #8010c0;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px #00000020;
    color: #fffffff0;
    cursor: pointer;
    font-size: larger;
    font-family: normal;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 10px 15px;
    white-space: normal;
}

.add-list:hover {
    background-color: #9d35e2;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #00000020;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background: #00000040;
    border-radius: 5px;
}