<!DOCTYPE html>
<html>

<head>
    <title>Grape - Board</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Descricao esboco" />
    <meta name="keywords" content="" />
    <meta name="author" content="Giuseppe Lanna e Leonardo Britto" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/stylesheets/fonts.css" />
    <link rel="stylesheet" href="../../assets/stylesheets/style.css" />
    <link rel="icon" href="../../assets/images/favicon.ico" />
</head>

<body>
    <div id="nocss">
        Seu navegador não foi capaz de carregar todos os recursos do Grape. Eles podem ter sido bloqueados pelo seu
        Firewall ou pelo seu navegador. Tente recarregar a página.
    </div>
    <div id="full-container">
        <div id="menu">
            <div class="menu-header">
                <div class="logo-wrapper">
                    <img src="../../assets/images/grape-logo-white.png" alt="Grape Logo"/>
                </div>
                <h1>
                    Grape
                </h1>
            </div>
            <hr>
            <div class="menu-option">
                Opção 1
            </div>
            <div class="menu-option">
                Opção 2
            </div>
            <div class="menu-option">
                Opção 3
            </div>
        </div>

        <div class="board-wrapper">
            <div class="board">
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-title todo">
                            A fazer
                            <div class="list-addcard"></div>
                        </div>

                        <div class="list-content">
                            <!--A div task é só um exemplo do que vai ser adicionado dinamicamente.-->
                            <div id="cards-1">

                            </div>
                            <div class="card-add">+ Adicionar cartão</div>
                        </div>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-title done">
                            Feito
                            <div class="list-addcard"></div>
                        </div>

                        <div class="list-content">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Fazer dever de Matemática</h3>
                                </div>
                                <div contenteditable="true" class="card-description">
                                    <div class="task-textbox">
                                        <p>Bater um lol com os amigos e largar o dever de mat pra la.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h3>Fazer dever de Matemática</h3>
                                </div>
                                <div contenteditable="true" class="card-description">
                                    <div class="task-textbox">
                                        <p>Bater um lol com os amigos e largar o dever de mat pra la.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list-add">
                        + Adicionar outra lista
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>