<!DOCTYPE html>
<html>

<head>
    <title>Esboço</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Descricao esboco" />
    <meta name="keywords" content="" />
    <meta name="author" content="Giuseppe Lanna e Leonardo Britto" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/stylesheets/fonts.css" />
    <link rel="stylesheet" href="../../assets/stylesheets/style.css" />
</head>

<body>
    <sidebar class="menu">
        <div class="menu_header">
            <img src="grape_logo.jpg" alt="Grape Logo" class="sidebar_logo" />
            <h1 class="logo">
                Grape: brilhante como a uva, vivo como o cacho.
            </h1>

        </div>
    </sidebar>

    <div class="board">

        <div class="tasklist">
            <header>
                <h2>A fazer</h2>
                <div class="tasklist_addtask"></div>
            </header>

            <div class=tasklist_tasks>
                <!--Esse embed deve ser substituido por algum código que cole quantas tasks forem necessárias em cada um-->
                <div class="task">
                    <header>
                        <h3>Fazer dever de Matemática</h3>
                        <span class="tag" style="">A fazer</span>
                    </header>

                    <h4 class="task_topic">Descrição</h4>
                    <div class="task_textbox">
                        <p>Bater um lol com os amigos e largar o dever de mat pra la</p>
                    </div>

                    <h4 class="task_topic">Prazo</h4>
                    <span class="task_answer">11/09/2001</span>

                    <h4 class="task_topic">Recorrente</h4>
                    <span class="task_answer">Sim</span>

                    <h4 class="task_topic">Dias da semana</h4>
                    <span class="task_answer">Seg | Ter | Sex | Muito Sex</span>

                    <h4 class="task_topic">Documentos anexos</h4>
                    <span class="task_answer">arquivo_anexo.pdf</span>

                    <h4 class="task_topic">Comentários</h4>
                    <ul class="task_comments">
                        <li>Comentário 1</li>
                        <li>Comentário 2</li>
                        <li>Comendo o cu de quem ta lendo</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tasklist">
            <header>
                <h2>Em progresso</h2>
                <div class="tasklist_addtask"></div>
            </header>

            <div class=tasklist_tasks>
            </div>
        </div>

        <div class="tasklist">
            <header>
                <h2>Code Review</h2>
                <div class="tasklist_addtask"></div>
            </header>

            <div class=tasklist_tasks>
            </div>
        </div>

        <div class="tasklist">
            <header>
                <h2>Feito</h2>
                <div class="tasklist_addtask"></div>
            </header>

            <div class=tasklist_tasks>
            </div>
        </div>
    </div>
</body>

</html>