<!DOCTYPE html>
<html>

<head>
    <title>Esboço</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Descricao esboco" />
    <meta name="keywords" content="" />
    <meta name="author" content="Giuseppe Lanna e Leonardo Britto" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="style_pre.css" />
</head>

<body>
    <sidebar class="menu">
        <div class = "menu_header">
            <img src="grape_logo.jpg" alt="Grape Logo" class="sidebar_logo" />
            <h1 class="logo">
                Grape: gostoso como a uva, vivo como o cacho.
            </h1>
        
        </div>
    </sidebar>

    <div class="board">

        <div class="tasklist">
            <header>
                <h2>A fazer</h2>
                <div class="tasklist_addtask"></div>
            </header>

            <div class=tasklist_tasks>
                <!--Esse embed deve ser substituido por algum código que cole quantas tasks forem necessárias em cada um-->
                <embed src="cardresumed.html" />
                <embed src="taskcard.html" />
            </div>
        </div>

        <div class="tasklist">
            <header>
                <h2>Em progresso</h2>
                <div class="tasklist_addtask"></div>
            </header>

            <div class=tasklist_tasks>
                <embed src="taskcard.html" />
                <embed src="taskcard.html" />
            </div>
        </div>

        <div class="tasklist">
            <header>
                <h2>Code Review</h2>
                <div class="tasklist_addtask"></div>
            </header>

            <div class=tasklist_tasks>
                <embed src="taskcard.html" />
                <embed src="taskcard.html" />
            </div>
        </div>

        <div class="tasklist">
            <header>
                <h2>Feito</h2>
                <div class="tasklist_addtask"></div>
            </header>

            <div class=tasklist_tasks>
                <embed src="taskcard.html" />
                <embed src="taskcard.html" />
            </div>
        </div>
    </div>
</body>

</html>