<!--Todo esse HTML pode ser quando for usado pelo backend; serve só mesmo pra visualização-->
<!DOCTYPE html>
<html>
    <head>
        <title>Files</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Arquivos indexados</h1>
        <pre>
            <hr>
            <a href="style.css">style.css</a>
            <a href="style_pre.css">style_pre.css</a>
            <a href="grape_logo.jpg">grape_logo.jpg</a>
            <a href="body.html">body.html</a>
            <a href="taskcard.html">taskcard.html</a>
            <hr>
        </pre>
    </body>
</html>