<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Giuseppe Lanna e Leonardo Britto" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="task">
            <header>
                <h3>Fazer dever de Matemática</h3>
                <span class="tag" style="">A fazer</span>
            </header>

            <h4 class="task_topic">Descrição</h4>
            <div class="task_textbox">
                <p>Bater um lol com os amigos e largar o dever de mat pra la</p>
            </div>

            <h4 class="task_topic">Prazo</h4>
            <span class="task_answer">11/09/2001</span>

            <h4 class="task_topic">Recorrente</h4>
            <span class="task_answer">Sim</span>

            <h4 class="task_topic">Dias da semana</h4>
            <span class="task_answer">Seg | Ter | Sex | Muito Sex</span>

            <h4 class="task_topic">Documentos anexos</h4>
            <span class="task_answer">arquivo_anexo.pdf</span>

            <h4 class="task_topic">Comentários</h4>
            <ul class="task_comments">
                <li>Comentário 1</li>
                <li>Comentário 2</li>
                <li>Comendo o cu de quem ta lendo</li>
            </ul>
        </div>
    </body>
</html>